'.source.Symatem':

  'Search':
    'prefix': 'search'
    'body': '(Procedure Search; Entity $1; Attribute $2; Value $3; Varying $4; Output $5; Count $6;)'
  'Link':
    'prefix': 'link'
    'body': '(Procedure Link; Entity $1; Attribute $2; Value $3;)'
  'Unlink':
    'prefix': 'unlink'
    'body': '(Procedure Unlink; Entity $1; Attribute $2; Value $3;)'
  'Create':
    'prefix': 'new'
    'body': '(Procedure Create; Output $1;)'
  'Destroy':
    'prefix': 'delete'
    'body': '(Procedure Destroy; Input $1;)'
  'GetEnv':
    'prefix': 'getenv'
    'body': '(Procedure GetEnv; Input $1; Output $2;)'
  'Push':
    'prefix': 'push'
    'body': '(Procedure Pop; Execute $1;)'
  'Pop':
    'prefix': 'pop'
    'body': '(Procedure Pop; Count $1;)'
  'Branch':
    'prefix': 'branch'
    'body': '(Procedure Branch; Input $1; Branch $2;)'
  'Exception':
    'prefix': 'throw'
    'body': '(Procedure Exception; $1)'

  'Serialize':
    'prefix': 'toString'
    'body': '(Procedure Serialize; Input $1; Output $2;)'
  'Deserialize':
    'prefix': 'eval'
    'body': '(Procedure Deserialize; Package $1; Input $2; Output $3;)'
  'CloneBlob':
    'prefix': '='
    'body': '(Procedure CloneBlob; Input $1; Output $2;)'
  'SliceBlob':
    'prefix': 'slice'
    'body': '(Procedure SliceBlob; Count $1; Destination $2; Source $3; Input $4; Target $5;)'
  'AllocateBlob':
    'prefix': 'malloc'
    'body': '(Procedure AllocateBlob; Input $1; Target $2;)'
  'EraseFromBlob':
    'prefix': 'erase'
    'body': '(Procedure EraseFromBlob; Begin $1; End $2; Target $3;)'
  'InsertIntoBlob':
    'prefix': 'insert'
    'body': '(Procedure InsertIntoBlob; Input $1; Begin $2; Target $3;)'
  'GetBlobLength':
    'prefix': 'GetBlobLength'
    'body': '(Procedure GetBlobLength; Input $1; Output $2;)'

  'NumericCast':
    'prefix': 'cast'
    'body': '(Procedure NumericCast; Input $1; To $2; Output $3;)'
  'Equal':
    'prefix': '=='
    'body': '(Procedure Equal; Input $1; Output $2;)'
  'LessThan':
    'prefix': '<'
    'body': '(Procedure Less; Input $1; Comparandum $2; Output $3;)'
  'LessEqual':
    'prefix': '<='
    'body': '(Procedure LessEqual; Input $1; Comparandum $2; Output $3;)'
  'BitShiftEmpty':
    'prefix': 'BitShiftEmpty'
    'body': '(Procedure BitShiftEmpty; Input $1; Count $2; Output $3;)'
  'BitShiftReplicate':
    'prefix': 'BitShiftReplicate'
    'body': '(Procedure BitShiftReplicate; Input $1; Count $2; Output $3;)'
  'BitShiftBarrel':
    'prefix': 'BitShiftBarrel'
    'body': '(Procedure BitShiftBarrel; Input $1; Count $2; Output $3;)'
  'BiwiseComplement':
    'prefix': '~'
    'body': '(Procedure BiwiseComplement; Input $1; Output $2;)'
  'BiwiseAnd':
    'prefix': '&'
    'body': '(Procedure BiwiseAnd; Input $1; Output $2;)'
  'BiwiseOr':
    'prefix': '|'
    'body': '(Procedure BiwiseOr; Input $1; Output $2;)'
  'BiwiseXor':
    'prefix': '^'
    'body': '(Procedure BiwiseXor; Input $1; Output $2;)'
  'Add':
    'prefix': '+'
    'body': '(Procedure Add; Input $1; Output $2;)'
  'Multiply':
    'prefix': '*'
    'body': '(Procedure Multiply; Input $1; Output $2;)'
  'Subtract':
    'prefix': '-'
    'body': '(Procedure Subtract; Minuend $1; Subtrahend $2; Output $3;)'
  'Divide':
    'prefix': '/'
    'body': '(Procedure Divide; Dividend $1; Divisor $2; Quotient $3; Rest $4;)'
