// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.symatem-ide-view .fadeIn {
    animation: fadeIn 0.2s linear forwards;
}

.symatem-ide-view .fadeOut {
    animation: fadeOut 0.2s linear forwards;
}

.symatem-ide-view {
    width: 100%;
    height: 300px;
    padding: 0px;
    margin: 0px;
}

.symatem-ide-view .options {
    position: relative;
    left: 10px;
    bottom: 80px;
    border: 1px solid gray;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

.symatem-ide-view svg {
    width: 100%;
    height: 100%;
    padding: 0;
}

.symatem-ide-view path {
    stroke: white;
    fill: white;
}

.symatem-ide-view circle {
    stroke: white;
    fill: none;
}

.symatem-ide-view rect {
    stroke: white;
    stroke-width: 2;
    fill: none;
}

.symatem-ide-view .colorType0 {
    stroke: #f44;
}

.symatem-ide-view .colorType1 {
    stroke: #4f8;
}

.symatem-ide-view .colorType2 {
    stroke: #48f;
}

.symatem-ide-view .connection {
    stroke-linecap: round;
    stroke-width: 2;
    fill: none;
}

.symatem-ide-view .arrow {
    marker-end: url(#arrow);
}

.symatem-ide-view text {
    fill: white;
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
}
