@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.WiredPanels .fadeIn {
    animation: fadeIn 0.25s linear forwards;
}

.WiredPanels .fadeOut {
    animation: fadeOut 0.25s linear forwards;
}

.WiredPanels {
    padding: 0px;
    margin: 0px;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.WiredPanels svg {
    width: 100%;
    height: 100%;
    padding: 0;
}

.WiredPanels * {
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    fill: white;
    color: white;
}

.WiredPanels .panel {
    stroke-width: 1;
    fill: transparent;
}

.WiredPanels rect.panel.selected {
    stroke-width: 2;
}

.WiredPanels rect.panel:hover {
    stroke-width: 3;
}

.WiredPanels .socket {
    stroke-width: 2;
    fill: transparent;
}

.WiredPanels .socket.selected {
    stroke-width: 2.5;
}

.WiredPanels .socket:hover {
    stroke-width: 4;
}

.WiredPanels .wire {
    stroke-linecap: round;
    stroke-width: 4;
    stroke-opacity: 0.6;
    fill: none;
}

.WiredPanels .wire:hover {
    stroke-opacity: 1.0;
}

.WiredPanels .selected {
    filter: url(#blurFilter);
}



#SymatemVisualizer {
    height: 560px;
}

#SymatemVisualizer .entity {
    stroke: #f44;
}

#SymatemVisualizer .attribute {
    stroke: #4f8;
}

#SymatemVisualizer .value {
    stroke: #48f;
}

#SymatemVisualizer .disabled {
    fill: #aaa;
    color: #aaa;
}
