@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.WiredPanels .fadeIn {
    animation: fadeIn 0.25s linear forwards;
}

.WiredPanels .fadeOut {
    animation: fadeOut 0.25s linear forwards;
}

.WiredPanels {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.WiredPanels * {
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    fill: white;
    color: white;
    transition: stroke-width 0.15s, stroke-opacity 0.15s;
}

.WiredPanels text,.noHover {
    pointer-events: none;
}

.WiredPanels .panel {
    stroke-width: 1;
    fill: transparent;
}

.WiredPanels rect.panel.selected {
    stroke-width: 2;
}

.WiredPanels rect.panel:hover {
    stroke-width: 3;
}

.WiredPanels .socket {
    stroke-width: 2;
    fill: transparent;
}

.WiredPanels .socket.selected {
    stroke-width: 2.5;
}

.WiredPanels .socket:hover {
    stroke-width: 4;
}

.WiredPanels .wire {
    stroke-linecap: round;
    stroke-width: 4;
    stroke-opacity: 0.6;
    fill: none;
}

.WiredPanels .wire:hover {
    stroke-opacity: 1.0;
}

.WiredPanels .selected {
    filter: url(#blurFilter);
}



#OntologyEditor {
    width: 100%;
    height: 340px;
    display: inline-block;
    border-radius: 0.3em;
    background-color: rgb(39, 40, 34);
}

#OntologyEditor div {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    position: relative;
}

#OntologyEditor .entity {
    stroke: #f44;
}

#OntologyEditor .attribute {
    stroke: #4f8;
}

#OntologyEditor .value {
    stroke: #48f;
}

#OntologyEditor .disabled {
    fill: #aaa;
    color: #aaa;
}
